.black-border {
  border: 5px solid black;
  padding: 15px;
  margin: 10px;
}

#background {
  background-color: rgb(211, 221, 211);
  width: 410px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: rgb(60, 75, 54);
}

h1,
h2 {
  color: rgb(143, 73, 4);
}
